<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">


<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:sqlserver://localhost;databaseName=hibernateDB</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
        <property name="connection.username">SA</property>
        <property name="connection.password">Bizhan4460033641</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.show_sql">true</property>

        <!--        this is per hierarchy xml congif-->
<!--                <mapping resource="per_hierarchy"/>-->
        <!--        -->

<!--        <mapping class="com.hibernate_Inheritance.table_per_hierarchy.annotation.entity.Animal"/>-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_hierarchy.annotation.entity.Cat"/>-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_hierarchy.annotation.entity.Dog"/>-->

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--        this is for per concrete xml config-->

<!--        <mapping resource="per_concrete"/>-->

<!--        -->

<!--        this is for per concrete annotation -->
<!--        <mapping class="com.hibernate_Inheritance.table_per_concrete_class.annotation.entity.Animal"/>-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_concrete_class.annotation.entity.Cat"/>-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_concrete_class.annotation.entity.Dog"/>-->
<!--        -->

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--        this is for table per sub class xml configuration-->
<!--        <mapping resource="per_subClass"/>-->
<!--        -->

<!--        this is for table per subclass annotation configure-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_subClass.annotation.entity.Animal"/>-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_subClass.annotation.entity.Cat"/>-->
<!--        <mapping class="com.hibernate_Inheritance.table_per_subClass.annotation.entity.Dog"/>-->

<!--        /////////////////////////////////////////////////////////////////////////////////////////////-->
    </session-factory>
</hibernate-configuration>

